# Unreal Engine
Binaries
Intermediate
Saved
Staged
DerivedDataCache
release
.vscode
*.log
*.sln
*.xcodeproj
*.opendb
*.db
*.VC.db
*.opensdf
*.sdf
*.suo
*.bak
*.tmp
*.swp
*.user
*.lock
*.pyc
*.class
*.cd
*.pdb
*.ipch